body{
  height: 100vh;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
header{
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
}
nav{
  height: 40px;
  border-top: 1.5px solid rgb(216, 216, 216);
  border-bottom: 1.5px solid rgb(216, 216, 216);
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav a{
  color: rgb(78, 78, 78);
  border-left: 1px solid rgb(216, 216, 216);
  width: 132.5px;
  text-align: center;
  font-size: 14px;
}
a:hover{
  color: red;
}
#headerDiv{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.headerImg{
  height: 50px;
}
#headerImg{
  height: 60px;
}
#navDiv{
  display: flex;
  margin: 0 auto;
  width: 1100px;
  justify-content: space-between;
}
.navA{
  border-right: 1px solid rgb(216, 216, 216);
}
/*
#boardDiv{
  position: absolute;
  top: 160px;
  left: 410px;
  display: flex;
  width: 1100px;
  justify-content: space-between;
}
.boardDiv{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */
#boardDiv {
  display: flex;
  flex-direction: column;
}
#boardHide {
  display: none;
}
#boardA {
  position: relative;
  left: 37px;
}
.boardA {
  position: relative;
  top: 30px;
  right: 1376px;
  display: block;
  width: 100vw;
  font-size: 13px;
  background-color: antiquewhite;
}
#boardDiv:hover #boardHide {
  display: block;
  z-index: 2;
  position: absolute;
}
#boardDiv:hover #boardAA {
  color: blueviolet;
}
#nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 1100px;
  margin: 0 auto;
}
#navRight {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
