body{
  height: 100vh;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
header{
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
}
nav{
  height: 50px;
  border-top: 1.5px solid rgb(216, 216, 216);
  border-bottom: 1.5px solid rgb(216, 216, 216);
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boardA{
  color: rgb(78, 78, 78);
  border-left: 1px solid rgb(216, 216, 216);
  width: 132.5px;
  text-align: center;
  font-size: 14px;
}
.boardA:hover{
  color: red;
}
#headerDiv{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.headerImg{
  height: 50px;
}
#headerImg{
  height: 60px;
}
#navDiv{
  display: flex;
  margin: 0 auto;
  width: 1100px;
  justify-content: space-between;
}
#navA{
  border-right: 1px solid rgb(216, 216, 216);
}
#boardDiv {
  display: flex;
  flex-direction: column;
}
#boardHide {
  display: none;
}
#hideBoard{
  position: relative;
  top: 35px;
  right: 1510px;
  display: flex;
  width: 100vw;
  font-size: 13px;
  background-color: white;
  justify-content: center;
  height: 125px;
  align-items: center;
  opacity: 0.9;
} 
#hideBoard>div{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  height: 100%;
} 
.boardHide {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.boardHide>a{
  width: 132.5px;
  text-align: center;
  font-size: 13px;
  color: black;
}
.boardHide>a:hover{
 color: red;
}
nav:hover #boardHide {
  display: block;
  z-index: 2;
  position: absolute;
}
#nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 1100px;
  margin: 0 auto;
}
#sectionNav{
  height: 450px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.prev>img{
  height: 45px;
}
.next>img{
  height: 45px;
}
#slideImg{
  position: absolute;
  width: 100%;
}
#slideImg>a{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
}
#slideImg>a>img{
  width: 100%;
}
#slideSide>a{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}
#slideSide>a>img{
  opacity: 0.5;
}
.prev{
  margin-left: -800px;
}
.next{
  margin-left: 800px;
}
#slideButton{
  position: absolute;
  left: 50%;
  top: 92%;
  transform: translateX(-50%);
  text-align: center;
}
#slideButton>a{
  height: 10px;
  padding: 9px;
}
#slideButton>a>img{
  height: 18px;
}
#slideButton>a.active .buttonImg{
    filter: opacity(0.1) drop-shadow(0 0 0 black);
}
#board1:hover{
  background-color: rgb(243, 241, 255);
}
#board2:hover{
  background-color: rgb(243, 241, 255);
}
#board3:hover{
  background-color: rgb(243, 241, 255);
}
#board4:hover{
  background-color: rgb(243, 241, 255);
}
#board5:hover{
  background-color: rgb(243, 241, 255);
}
#board6:hover{
  background-color: rgb(243, 241, 255);
}
#board7:hover{
  background-color: rgb(243, 241, 255);
}
#board8:hover{
  background-color: rgb(243, 241, 255);
}
#nav{
  width: 1500px;
  display: flex;
  justify-content: space-between;
}
#loginImg{
  height: 160px;
}