a{text-decoration: none;
color: black;
}
a:hover{
    text-decoration: underline;
    color: black;
}
body{
    margin: 0;
}
li{
    list-style-type: none;
    padding-top: 10px;
    position: relative;
    right: 15px;
}
li>a>img{
    position: relative;
    top: 5px;
    right: 8px;
}
.a1:hover{
    border: 1px solid #b6b6b6;
}