.header1{
  width: 80%;
  height: 30px;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header2{
  width: 80%;
  height: 40px;
  margin: 0 auto;  
 display: flex;
justify-content: space-between;
}
.header2>div.search{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border: 3px solid rgb(3,199,90);
  border-radius: 20px;
}
.header2>div.search>i{
  font-size: 25px;
  color: rgb(3,199,90);
}
.header2>div.search>input{
  width: 70%;
  border-width: 0px;
}
.header2>div.search>input:focus{
  outline-width: 0px;
}
.header2> div.subside{
  display: flex;
  align-items: center;
}
.header2>div.search>span>i.search{
  color: blue;
}
.header3{
  width: 80%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header3>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.header3>div>i.first{
  color: green;
}
.header3>div>span{
  font-size: 10px;

}