body{
    width: 100%;
    margin: 0 auto;
    background-color: beige;
    height: 100%;
  }
#sectionDiv{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
#sectionDiv>img{
    height: 230px;
    margin-top: 50px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    width: 700px;
    height: 520px;
}
h1, h2{
    text-align: center;
}
h1{
    color: rgb(61, 61, 61);
}
h2{
    color: rgb(148, 148, 148);
}